/*
body {
    background-color: aliceblue;
}

main, footer, header {
    background-color: grey;
}

h1 {
    background-color: green;
}

p {
    color: whitesmoke;
}

a {
    color: inherit;
}
*/

/*Especificidad*/
/* Por orden de peso de mayor a menor !important, style o estilo en linea, id, class, cascada.*/

#identificador {
    color: lightsalmon;
}
.clase {
    color: lawngreen;
}

p {
    color: lightcoral !important;
}
