th {
    border: 1px solid;
}

td {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

td+td,
th+th {
    border-left: none;
}

tr td {
    margin: 5px;
    padding: 5px;
}

table {
    background-color: whitesmoke;
    border-spacing: 0;
}

caption {
    margin: 1em;
    caption-side: top;
}

span+span {
    font-weight: bold;
}

a+span {
    text-decoration: line-through;
}