/************************/
/*  UNIDADES RELATIVAS. */ 
/************************/
/*******************************************************************************************************
/* 1ex; En relación con la altura x de la fuente actual (rara vez se usa)                              */
/* 1em; Relativo al tamaño de fuente del elemento (1em significa 1 vez el tamaño de la fuente actual)  */
/* 1rem; Relativo al tamaño de fuente del elemento raíz.                                               */
/*******************************************************************************************************/
/*
body{
    font-size: 64px;
}
h1{
    font-size: 1ex;
}
p{
    font-size: 1em; 
}
h2{
    font-size: 1rem; 
}
*/

/************************/
/*  UNIDADES ABSOLUTAS. */ 
/************************/

/*

cm	centimetros
mm	milimetros
in	inches (1in = 96px = 2.54cm) --> pulgadas.
pt	points (1pt = 1/72 of 1in)
pc	picas (1pc = 12 pt)
px  pixels (1px = 1/96th of 1in) --> 

Los píxeles (px) son relativos al dispositivo de visualización. 
Para dispositivos de bajo dpi, 1px es un píxel de dispositivo (punto) de la pantalla. 
Para impresoras y pantallas de alta resolución, 1px implica múltiples dispositivos de píxeles.

*/

h1{
    font-size: 1in;
}
h2{
    font-size: 1cm;
}
p{
    font-size: 10mm;
}

h3{
    font-size: 60pt;
}