/*Selector universal*/
/*
* {
    font-size: 50px;
}
*/
/* selectores de etiqueta*/
/*
h1{
    background-color: indigo;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
}
p{
    text-align: center;
}
*/
/*Seletor de etiquetas multiple*/
/*
h1,h2,h3,h4,h5,h6,p,a {
    color:red;
    background-color: black;
}

p,a {
    color: whitesmoke;
}

h1{
    font-size: 48px;
}
*/

/*Seletor de clase*/
.parrafo{
    font-size: 48px;
    color: whitesmoke;
    background-color: black;
}
p.parrafo{
    font-size: 48px;
    color: whitesmoke;
    background-color: black;
}

/*Seletor de ID*/ 

#parrafo_3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: chartreuse;
}