nav {
    background-color: black;
    height: 2em;
}

a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0.4em 1em 0 0;
    float: right;
}

video,
img {
    width: 500px;
    height: auto;
    margin-left: 30em;
    margin-top: 15em;
}

audio{
    margin-left: 30em;
    margin-top: 15em;
}