/* .menu {
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #7c7c7c;
    border-bottom: none;
}
.menu li {
    border-bottom: 1px solid #7c7c7c;
    border-top: 1px solid #fff;
    background-color: #f4f4f4;
}

.menu li a {
    padding: 0.2em 0 0.2em 0.5em;
    display: block;
    text-decoration: none;
    color:#333;
}

.menu li a:hover {
    color:darkorange;
} */

.menu {
    clear: both; /*Eliminar adyacencia derecha e izquierda*/
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #7c7c7c;
}

.menu li {
    float: left;
}

.menu li a {
    padding: 0.3em;
    display: block;
    text-decoration: none;
    color: #333;
    background-color: #f4f4f4;
    border-top: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    border-bottom: 1px solid #7c7c7c;
}

.menu li a:hover{
    color: pink;
}

.sombra_1 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 100px;
    box-shadow: 20px 20px 10px grey;
}

.rojo {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 100px;
    background-color: red;
    opacity: 30%;
}

.azul {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: blue;
    position: relative;
    left: 250px;
    bottom: 275px;
    opacity: 0.3;
}
.amarillo {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: yellow;
    position: relative;
    left: 400px;
    bottom: 450px;
}

.redondo{
    width: 300px;
    height: 300px;
    border: 10px solid black;
    margin: 100px;
    background-color: greenyellow;
    border-radius: 300px;
}

.esquina{
    width: 300px;
    height: 300px;
    border: 10px solid black;
    margin: 100px;
    background-color: grey;
}

.sombra_2{
    margin: 50px;
    font-size: 48px;
    text-shadow: grey 5px 5px 10px;
}