/* h1 {
    color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bolder;
}

p {
    color: blueviolet;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
}

.parrafo_2 {
    color: black;
    font-variant: unset;
}
.parrafo_3{
    font: italic small-caps bold 24px Georgia, serif;
}
.texto {
    color: black;
    text-align: justify;
    line-height: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 2em;
    letter-spacing: 10px;
    word-spacing: 15px;
} */
a {
    text-decoration: none;
}

a:link {
    color:red;
}

a:visited {
    color:gray;
}

a:hover {
    color: chartreuse;
}
a:active {
    background-color: cadetblue;
}

.element_1::first-line{
    color: pink;
}
.element_1::first-letter {
    color: red;
    font-size: 48px;
    initial-letter:initial;
}

.fecha::before{
    content:'día ';
}
.fecha::after{
    content:' año';
}

/* .element_1::selection {
    color:coral;
    background-color: grey;
} *//*esto está obsoleto y ya no se usa en CSS. Los navegadores actuales no lo soportan*/